@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-weight: 400;
  max-width: 100%;
  width: 100%;

  color-scheme: dark;
  color: #fbfef9;
  background-color: #171A21;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  display: flex;
  place-items: center;
  font-size: 18px;
}

#cursor-light {
  height: 15em;
  width: 15em;
  background-color: #3c5dff;
  filter: blur(120px);
  opacity: calc(15%);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #171A21;
    background-color: #fbfef9;
  }
  .logo {
    filter: invert(90%)
  }
  #cursor-light {
    opacity: calc(0%);
  }
  .highlight {
    color: #0e4e3f;
    font-weight: 500;
  }
}

